@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Sistema de usuarios</h1>
    <p>Seleccione la el botón de usuarios en la barra de navegación para desplegarlos.</p>
</div>
